@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .label {
    @apply block mb-3 text-xs font-medium text-gray-900;
  }

  .input-text {
    @apply border border-gray-300 text-gray-900 rounded-[0.25rem] block w-full text-sm py-[0.375rem] px-[0.75rem];
  }


  .input-text:hover {
    @apply border-blue-500 ring-1 ring-blue-500;
  }

  .input-text:focus {
    @apply placeholder-gray-400 border-blue-500 outline-none ring-1 ring-blue-500;
  }

  .input-text:dark {
    @apply border-gray-600;
  }


  .input-group {
    @apply relative flex flex-row items-stretch w-full flex-nowrap;
  }

  .btn-db {
    @apply flex flex-nowrap space-x-96 font-normal text-center text-white align-middle bg-dark-purple border border-transparent border-solid cursor-pointer py-[0.375rem] px-[0.75rem] rounded-tr-[0.25rem] rounded-br-[0.25rem] text-sm;
  }


  .form-control:focus {
    @apply w-full py-[0.375rem] px-[0.75rem] text-sm font-medium bg-gray-200 bg-clip-padding border border-solid appearance-none rounded-tl-[0.25rem] rounded-bl-[0.25rem] ring-1 ring-blue-500 border-blue-500;
  }

  .form-control {
    @apply flex w-full py-[0.375rem] px-[0.75rem] text-sm font-medium bg-gray-200 bg-clip-padding border border-solid border-gray-300 appearance-none rounded-tl-[0.25rem] rounded-bl-[0.25rem] outline-none;
  }

  .btn-action {
    @apply w-full text-white bg-blue-600 font-medium rounded-[0.25rem] py-[0.375rem] px-[0.75rem] text-sm text-center mt-3;
  }

  .btn-db:hover,
  .btn-action:hover {
    @apply bg-blue-700 ring-2;
  }

  .btn-db:focus,
  .btn-action:focus {
    @apply outline-none;
  }

  .btn-action:dark:hover {
    @apply bg-blue-100;
  }


  .card {
    @apply w-full max-w-[310px] bg-white rounded-lg shadow;
  }

  .card:dark {
    @apply bg-gray-800 border border-y-gray-700;
  }

  .card:sm,
  md,
  xl {
    @apply max-w-md p-0 mt-0;
  }

  .a-link {
    @apply text-[11px] text-blue-600;
  }

  .a-link:hover {
    @apply underline;
  }

}

.i {
  height: 20px;
  width: 20px;
}



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



.main-div {
  margin: 0 auto;
  max-width: 1280px;
  padding: 2rem;
  display: flex;
  justify-content: center;
}





@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  /* a:hover {
    color: #747bff;
  } */

  button {
    background-color: #f9f9f9;
  }

}